<div class="container is-fluid mt-6">
<h1 class="title is-1"> <%= @blog.title %> <%= link_to edit_blog_url(@blog.id) do %>
    <span style='font-size:15px;'>Edit</span>
    <% end %></h1> 
</div>
<div class="container is-fluid mt-6">
<p class="is-3"><%= @blog.body %> </p> 
</div>

<div class="container is-fluid mt-6">
<span>Written by: <%= @blog.author %></span>
</div>


<div class="container is-fluid mt-6">


<%= button_to "Delete", @blog, method: :delete, :class => "delete" %>
<div>

